{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h2>Liste des catégories</h2>
    <div class="container text-center">
        {% for category in categories %}
            <a href={{ path('index_by_category', {id: category.id}) }}>
                <span class="badge bg-dark ml-4 me-4">{{ category.name }}</span>
            </a>
        {% endfor %}
    </div>

    <h2 class="text-center mt-4">Liste des derniers articles</h2>
    <div class="container blog-page mt-5">
        <div class="row clearfix">
            {% for post in posts %}
                <div class="col-lg-4 col-md-12 p-4">
                    <div class="card single_post p-4">
                        <div class="header">
                            <h2>{{ post.title }}</h2>
                        </div>
                        <div class="body">
                            <ul class="meta">
                                <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Posted By:
                                        {{ post.author }}</a></li>
                                <li>
                                    {#                                    <a href="#"><i class="zmdi zmdi-label col-amber"></i>{{ post.category.name }}</a> #}
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="zmdi zmdi-comment-text col-blue"></i>
                                        Comments: {{ post.comments|length }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="img-post m-b-15">
                                <img src='{{ post.img }}' alt="Awesome Image">
                            </div>
                            <p>{{ post.body | slice(0, 100) }}...</p>
                            <a href="{{ path("post", {id:post.id}) }}" title="read more"
                               class="btn btn-round btn-info">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}
